@import '_vars.scss';
@import '_mixins.scss';

body {
  margin:0;
  padding: 80px 18px;
  background: $body-color;
  color: #999;
  font-size: $font-size;
  line-height: $line-height;
  font-family: Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $brand-color;
  &:HOVER {
    color: lighten($brand-color, 10%);
  }
  &:ACTIVE {
    color: darken($brand-color, 10%);
  }
}

.container {
  position: relative;
  max-width: $max-container-width;
  margin: 0 auto;
}

.row {
  margin: 0 -8px;
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}