@import '_vars.scss';
@import '_mixins.scss';

body {
  margin:0;
  padding: 80px 18px;
  background: $body-color;
  color: #999;
  font-size: $font-size;
  line-height: $line-height;
  font-family: Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $brand-color;
  &:HOVER {
    color: lighten($brand-color, 10%);
  }
  &:ACTIVE {
    color: darken($brand-color, 10%);
  }
}

.container {
  position: relative;
  max-width: $max-container-width;
  margin: 0 auto;
}

.row {
  margin: 0 -8px;
}

.pagination {
  /*border-top: 1px solid #ddd;
  background: #fff;*/
  position: fixed;
  bottom: -8px;
  right: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  text-align: center;
  @include linear-gradient-b(0deg, $body-color, rgba(0,0,0,0));
  li {
    display: inline-block;
    padding: 8px 0 8px 8px;
    background: #fff;
    &:last-child {
      margin-right: 0;
      padding-right: 8px;
    }
    &.disabled {
      a {
        cursor: not-allowed;
      }
    }
    a {
      display: block;
      padding: 5px 10px 4px 10px;
      @include linear-gradient-b(0deg, $brand-color, lighten($brand-color, 5%));
      opacity: 1;
      @include animate(0.6);
      min-width: 36px;
      color: #fff;
      font-size: 20px;
      &:HOVER {
        background: lighten($brand-color, 10%);
      }
      &:ACTIVE {
        background: darken($brand-color, 10%);
      }
      @media (max-width: 480px) {
        padding: 5px 8px 4px;
      }
    }
    &.active {
      a {
        background: yellow;
        color: $brand-color;
        //opacity: 0.4;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}